<md-dialog ng-cloak>
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2><%= I18n.t "folders.destroy.are_you_sure" %></h2>
        <p>{{ folder.name }} <%= I18n.t "folders.destroy.will_be_delete" %></p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="hide()">
        <%= I18n.t "folders.destroy.cancel" %>
      </md-button>
      <span flex></span>
      <md-button ng-click="hide(true)" class="md-button md-primary">
        <%= I18n.t "folders.destroy.ok" %>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
