<h2><%= I18n.t "subjects.you_have_created" %> {{ data.length }} <%= I18n.t "subjects.subjects" %> </h2>
<hr>
<div class="list-group">
  <a href="#" class="list-group-item" ng-repeat="item in data">{{ item.name }}</a>
</div>
