<div class="ltt-subject">
  <div class="stage">
    <div class="flashcard">
      <div class="front">
        <p><%= I18n.t "flash_card.front" %></p>
      </div>
      <div class="back">
        <p><%= I18n.t "flash_card.back" %></p>
      </div>
    </div>
  </div>
</div>
